@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<DataAccess.BLL.Member>
@using PagedList.Mvc;

<section class="content-header">

    
    <div class="panel">

        <div class="panel-heading text-center">
            <h1 class="text-primary">
                Records are Retriving from Web Api
            </h1>

        </div>
        </div>


        <div class="panel panel-default">

            <div class="panel-heading">


              


                <div class="panel-title">
                    <h4>
                        Member Add/Update
                    </h4>
                </div>

            </div>

            <div class="panel-body">

                <div id="partailNewUpdate">
                    @Html.Partial("~/Views/Home/_NewUpdate.cshtml", new DataAccess.BLL.Member() { DateOfBirth = DateTime.Now })
                </div>
            </div>
        </div>




        <div class="panel panel-default">

            <div class="panel-heading">

                <div class="panel-title">
                    <h4>
                        Members
                    </h4>
                </div>

            </div>

            <div class="panel-body">

                <div id="partailGrid">
                    @Html.Partial("~/Views/Home/_MemberGrid.cshtml", Model)
                </div>
            </div>
        </div>

</section>



